.biliblock-num-inp {
	width: 50px;
	clear: none;
	float: right;
	margin: 10px;
}
.biliblock-dat-inp {
	width: 100px;
	clear: none;
	float: right;
	margin: 10px;
}
.biliblock-num-block {
	float: left;
	clear: none;
}
.biliblock-clear {
	clear: both;
	margin: 0px;
}